spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
      hibernate:
          ddl-auto: validate
  h2:
    console:
      enabled: false
token:
  jwt:
    secret: "hotelservicosecret34355"